header {
	background-color: var(--colorNeutralBackground5);

	> nav {
		height: 48px;
		flex-flow: row nowrap;
		justify-content: space-between;

		> * {
			height: 100%;
		}

		.left {
			align-items: center;

			button {
				max-width: 47px;
				width: 47px;
				border: none;
				border-radius: 0;
				height: 100%;
				background-color: #fa6900;

				&:hover,
				&:focus,
				&:active {
					border: none;
					border-radius: 0;
				}
			}

			#logo {
				padding: 0 20px;
				font-size: 20px;
			}

			.vertical-devider {
				height: 100%;
				width: 2px;
				background-color: var(--colorNeutralBackground1);
			}
		}

		.right {
			align-items: center;

			> * {
				margin: 0 8px;
			}
		}
	}
}
