.flex-container {
	display: flex;
}

#breadcrumbs {
	display: none;
}

#content {
	flex-flow: row nowrap;
	height: 100vh;

	#page-content {
		width: 100%;
		height: 100vh;
		padding: 35px 50px 0 50px;

		.fui-Title1 {
			margin-bottom: 30px;
			display: block;
		}
	}
}
